@use "./ui/baselayout.module";

/*Centralize Responsive and Animation Media Queries */
@keyframes loaderSpinner {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes notificationPopup {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes searchPopup {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 920px) {
  .notificationContainer {
    top: 5%;
    left: 0;
    max-width: 100%;
  }
  .loginBtn,
  .regBtn {
    font-size: 0.8rem;
    padding: 0em 0.4em;
  }
  .searchContainer {
    padding: 0.3em 0;
    background-color: var(--layout-bg-second-color);
    width: 100%;
    max-width: 100%;
    animation: searchPopup 0.2s ease-in;
  }
}
@media screen and (min-width: 921px) and (max-width: 1120px) {
}
