* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-color: #691639 #8a3256;
}

:root {
  --layout-bg-color: #aa4b73;
  --layout-bg-second-color: #9b2e5b;
  --layout-bg-default-ctn-color: rgb(75, 75, 75);
  --card-bg-color: rgb(59, 59, 59);
  --card-bg-second-color: rgb(71, 71, 71);
  --card-outline-color: rgb(110, 110, 110);
  --swiper-navigation-color: #fff;
}
