/*Page Layout Components*/
.baseLayoutContainer {
  display: flex;
  margin: 1em 0 1em 0;
  width: 75%;
  min-height: 100vh;
  border-radius: 5px;
  background-color: var(--layout-bg-default-ctn-color);
}
.base {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/*Header Components*/
.headerContainer {
  position: sticky;
  top: 0;
  z-index: 2;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--layout-bg-color);
  padding: 0.5em 1em;
  box-shadow: 0px 0.5px 2px var(--layout-bg-second-color);
}
.logoContainer {
  display: flex;
  gap: 1em;
}
.logo {
  font-size: 1.8rem;
  font-weight: 600;
}
.collapsedSearchContainer {
  position: sticky;
  top: 8%;
  left: 0;
  z-index: 999;
  right: 0;
}
.mainCard {
  width: 100%;
}
.uploadMenuPrev {
  position: absolute;
  margin-top: 0.2em;
  background-color: var(--layout-bg-card-color);
  border-radius: 5px;
  width: 8%;
}
.uploadMenuPrev ul li {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-left: -8rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.uploadMenuPrev ul li a {
  display: flex;
  align-items: center;
}
.prevTitle {
  margin-left: 0.5rem;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 40%;
}
.searchInput,
.searchBtn {
  background-color: rgb(82, 82, 82);
  color: white;
  border-radius: 15px;
  font-weight: 1.2rem;
}
.searchInput {
  font-size: 1rem;
}
.loginBtn,
.regBtn {
  padding: 0em 1em;
  background-color: var(--layout-bg-color);
  border-radius: 8px;
}
.loginBtnContainer {
  display: flex;
  align-items: center;
}
.headerIconContainer {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.profileBtn {
  background-color: var(--layout-bg-color);
  font-size: 1.6rem;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImg {
  cursor: pointer;
}
.profileMenu {
  background-color: var(--layout-bg-default-ctn-color);
}
.profileMenuItem {
  cursor: pointer;
}
.menuLink {
  width: 100%;
}
.regBtn {
  color: black;
  background-color: white;
}
.loginBtn:hover {
  background-color: #7a1841;
}
.regBtn:hover {
  background-color: var(--layout-bg-color);
  color: white;
}
/*Navigation*/
.navContainer {
  width: 100%;
  background-color: var(--layout-bg-second-color);
  display: flex;
  box-shadow: 0px 0.5px 0px black;
}
.navContainer ul {
  display: flex;
  list-style: none;
}
.navContainer li {
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.navContainer a {
  display: block;
  padding: 0.7em;
}
.navSubMenu {
  min-width: 8%;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--layout-bg-color);
  position: absolute;
}
.navSubMenu a:hover {
  border-radius: 0px 0px 5px 5px;
  background-color: var(--layout-bg-tri-color);
}
.navContainer ul li:hover {
  background-color: var(--layout-bg-color);
}
/*Footer Components*/
.footerContainer {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  background-color: var(--layout-bg-color);
}
/*Loader Components*/
/* Credit: Temani Afif for providing Spinner CSS */
/* HTML: <div class="loader"></div> */
.loadingScreen {
  position: absolute;
  z-index: 999;
  background-color: rgb(185, 185, 185);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaderContainer {
  gap: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: loaderSpinner 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80%
      repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}
/*Notification Component*/
.notificationContainer {
  position: fixed;
  left: 70%;
  top: 8%;
  max-width: 25%;
  z-index: 999;
  animation: notificationPopup 3s ease-in-out;
}
